# M06 Notes

## Business

- Please do not submit images to GradeScope! 
- Use PDFs, as explained in the Annoucement (Sep 20, 2023, 9:02 AM)
- Going forward, assignments not submitted as PDFs will be downgraded.

## Pandas Locators

In [2]:
import pandas as pd
import numpy as np

### `-1`

In [4]:
ser = pd.Series(np.arange(3.))

In [5]:
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [23]:
# ser[-1] # Throws an error

In [8]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])

In [9]:
ser2[-1]

2.0

In [10]:
ser[:2]

0    0.0
1    1.0
dtype: float64

### Arithmetic

Series operations work with indexes implicitly.

In [11]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [21]:
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [17]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [18]:
s1 + s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

Dataframes

In [24]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'), index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [26]:
df1

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

In [27]:
df2

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [25]:
df1 + df2

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

## Anatomy

<img src="https://pynative.com/wp-content/uploads/2021/02/dataframe.png" width="50%" height="50%"/>

<img src="https://miro.medium.com/max/700/1*KOBhtOeFntu6CyJUsCdN0g.jpeg" width="50%" height="50%"/>